body {
}
.pdfimg
{
    width:32px;
    height:32px;
    background:url(../image_download/Adobe-PDF.png);
    }
    .span12
    {
        margin-top:10px;
        }
  .download a:hover
  {
      color: #000;
      cursor: pointer;
      text-decoration: none;
  }